/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #95bcd3, #46c198);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #161816;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Sign-in container */
.signin-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 400px;
    position: relative;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ced4da;
    font-size: 1.1em;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #52d6ba;
    outline: none;
    box-shadow: 0 0 8px rgba(60, 158, 135, 0.5);
}

/* Button styles */
button {
    width: 100%;
    background-color: #73dce5;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #2aae91;
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.98);
}

a {
    color: #37a1a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .signin-container {
        width: 90%;
    }
}
